body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bdc2e6;
}

header {
    background-color: #113f67;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    padding: 25px;
	
}

nav {
	float: right;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-left: 20px;
}

nav li a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 30px;
}

h2 {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 24px;
	margin-bottom: 10px;
}

.product-container {
    
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.product-box {
    background-color: #e7eaf6;
	width: 200px;
	height: 300px;
	margin: 10px;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease-in-out;
	position: relative;
}

.product-box:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.product-box:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.product-box h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 40%);
	font-size: 18px;
	margin: 0;
	padding: 10px;
	text-align: center;
}

.product-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	
	position: relative;
  }
  
  .product-box i {
	  font-size: 80px;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -130%);
  }

.on-off-btn {
	display: block;
	text-decoration: none;
	margin: auto;
	margin-top: 10px;
	padding: 5px 10px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.on-off-btn:hover {
	background-color: #3e8e41;
}

.slider-container {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	
	.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 5px;
	background-color: #ddd;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	}
	
	.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background-color: #4CAF50;
	cursor: pointer;
	}
	
	.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background-color: #4CAF50;
	cursor: pointer;
	}
	
	.slider-value {
	display: block;
	text-align: center;
	}
 
ul {
	margin-left: 20px;
}

footer {
	background-color: #113f67;
	color: #fff;
	padding: 20px;
	text-align: center;
    bottom: 0;
    
}

.button{
	text-decoration:none;
    display: block;
	margin: auto;
	margin-top: 10px;
	padding: 5px 10px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}





